modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Frontend"
mode = "sequential"
author = 48303505

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Run"
author = 48303505
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5173
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 5174
externalPort = 3002
exposeLocalhost = true
